<h1>User Details</h1>
<p><strong>First Name:</strong> {{user.firstName}}</p>
<p><strong>Last Name:</strong> {{user.lastName}}</p>
<p><strong>Phone Number:</strong> {{user.number}}</p>
<p><strong>Location:</strong> {{user.location}}</p>
<a href="/display">Back to Users</a>